.links::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    }
    
    /* Track */
    .links::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    .links::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    .links::-webkit-scrollbar-thumb:hover {
        background: #555;
    }